[submodule "api-gateway"]
	path = api-gateway
    url = git@github.com:orion343dream/NexaShopping-ApiGateway.git
[submodule "config-server"]
	path = config-server
    url = git@github.com:orion343dream/NexaShopping-ConfigServer.git
[submodule "service-registry"]
	path = service-registry
    url = git@github.com:orion343dream/NexaShopping-ServiceRegistry.git
